@model RepresentanteModel

@{

}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <h1 class="bg-dark p-5 mb-3 text-light text-center"><strong>Representante - Novo</strong></h1>

                @using (Html.BeginForm("Novo", "Representante", FormMethod.Post))
                {
                    <div class="row">

                        <div class="form-group col-md-6 my-3">
                            <label class="control-label" asp-for="NomeRepresentante"></label>
                            <input class="form-control" asp-for="NomeRepresentante" placeholder="Ex: Nome do Representante" />
                        </div>

                    </div>

                    <div class="col-md-12 my-3 d-flex justify-content-end">
                        <a href="/Representante/Index" class="btn btn-outline-danger btn-lg mr-3">Cancelar</a>
                        <button type="submit" class="btn btn-outline-primary btn-lg">Gravar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

