@model ProdutoModel

<div class="container">
    <h1 class="bg-dark p-5 mb-3 text-light text-center">Detalhes - Loja</h1>

    <form asp-controller="Produto" asp-action="Detalhes" method="get">

        <div class="form-group col-md-6 my-3">
            <div class="font-weight-bold">Prduto ID:</div>
            <div class="form-control">@Model.ProdutoId</div>
        </div>

        <div class="form-group col-md-6 my-3">
            <div class="font-weight-bold">Nome do Produto:</div>
            <div class="form-control">@Model.NomeProduto</div>
        </div>

        @if (Model.ProdutoLoja.Count > 0)
        {
            <h3>Lojas:</h3>
            <ul>
                @foreach (var item in Model.ProdutoLoja)
                {
                    <li>@item.Loja.NomeLoja</li>
                }
            </ul>
        }
        else
        {
            <h3 class="font-weight-bolder text-danger">Não existem Lojas associadas!</h3>
        }

        <div>
            <a class="btn btn-outline-primary ml-3" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>